{% extends 'base-2.0.html' %}
{% load static %}
{% block content %}

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>{{ data1.pageTitleId.title }}</h2>
            <ol>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Services</li>
                <li>{{ data1.pageTitleId.title }}</li>
            </ol>
        </div>

    </div>
</section><!-- Breadcrumbs Section -->

<!-- ======= Portfolio Details Section ======= -->
<section class="portfolio-details" id="portfolio-details">
    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-6" style="width: 40%">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide">
                            <img alt="" src="{{ data1.productImage.url }}">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            {% for i in content %}
            <div class="col-lg-6">
                <div class="portfolio-info">
                    <h3>{{ i.productTitle }}</h3>
                    <ul>
                        <li>{{ i.detail }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<br><br>
</tr>
</table>
<br><br>
<center>
    {% if user.is_superuser %}
    <h2>Add Service Detail</h2>
    <div style="align-items: center; width: 50%; padding-bottom: 30px">
        <form action="{% url 'details' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form-group" style="padding-bottom: 10px">
                <input type="text" class="form-control" name="P_title" aria-describedby="emailHelp"
                       placeholder="Service Detail Title">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="P_detail" aria-describedby="emailHelp"
                       placeholder="Service Detail Title Name">
            </div>
            <br>
            <input name="id" type="hidden" value="{{ data1.id }}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div style="width: 70%">
        <table class="table table-striped" width="70%" border="2">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
                <th scope="col">Save</th>
            </tr>
            </thead>
            {% for i in content %}
            <tbody>
            <tr>
                <form action="{% url 'edit_servce_content' %}" enctype="application/x-www-form-urlencoded" method="get">
                    {% csrf_token %}
                    <th scope="row" width="5%">{{ i.id }}</th>
                    <td width="15%">
                        {{ i.productTitle }}
                    </td>
                    <td width="50%">
                        <textarea class="form-control" name="details" id="exampleFormControlTextarea1" rows="3">{{ i.detail }}</textarea>
                    </td>
                    <td width="10%">
                        <input type="hidden" name="id" value="{{ i.id }}">
                        <input type="submit" class="btn btn-info" value="Edit">
                    </td>
                </form>
                <td width="10%">
                    <form action="{% url 'delete_servce_content' %}" enctype="multipart/form-data" method="get">
                        <input name="id" type="hidden" value="{{ i.id }}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}

        <!--            <tr>-->
        <!--                <form action="{% url 'edit_servce_content' %}" enctype="application/x-www-form-urlencoded" method="get">-->
        <!--                    <td>-->
        <!--                        <h5>{{ i.id }}</h5>-->
        <!--                    </td>-->
        <!--                    <td style="vertical-align: top;">-->
        <!--                        <h5>{{ i.productTitle }}</h5>-->
        <!--                    </td>-->
        <!--                    <td>-->
        <!--                        <h5 style="color:#5c636a"><textarea cols="45" name="details" rows="8" style="height: auto">{{ i.detail }}</textarea>-->
        <!--                        </h5>-->
        <!--                    </td>-->
        <!--                    <td>-->
        <!--                        <input type="submit">-->
        <!--                    </td>-->
        <!--                </form>-->
        <!--                <td></td>-->

        <!--            </tr>-->
        <!--        </table>-->
    </div>
</center>

{% endblock %}


