{% extends 'base-2.0.html' %}
{% load static %}
{% block content %}

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>OUR TESTIMONIALS</h2>
            <ol>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>OUR TESTIMONIALS</li>
            </ol>
        </div>

    </div>
</section>
<!-- Breadcrumbs Section -->

<div class="card mb-3" style="max-width: 540px; margin-left: 50px">
    <div class="row g-0">
        <div class="col-md-4">
            <img alt="..." class="img-fluid rounded-start" height="600" style="width: 800px;"
                 src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" width="500">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<center>
<form action="{% url 'testimonialAdd' %}" enctype="multipart/form-data" method="get" style="alignment: center">
    {% csrf_token %}
    <div class="card w-75">
        <div class="card-body">
            <h4 class="card-title"><b>Add Testimonial Data</b></h4><br><br>
<!--            <p class="card-text"></p>-->
            <label class="card-text">Company Name</label><br>
            <input type="text" name="companyName"><br>
            <label class="card-text">Company Logo</label><br>
            <input type="file" name="companyLogo"><br>
            <label class="card-text">Customer Name</label><br>
            <input type="text" name="customerName"><br>
            <label class="card-text">customer Position</label><br>
            <input type="text" name="customerPosition"><br>
            <label class="card-text">Company Feedback</label><br>
            <input type="text" name="customerFeedback"><br><br>
            <input type="submit" class="btn btn-primary" style="height: 40px; width: 80px; font-size: medium" size="10" name="Save">
        </div>
    </div>

</form>
</center>
<br><br><br><br><br><br><br><br><br><br>

{% endblock %}